{% extends "base.html" %}
{% load static menu_tags %}

{% block content %}

    <section class="section lb text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

                    <div class="row grid-style">
                        {% for i in list_posts %}
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-box" style="margin-bottom: 25px;">
                                    <div class="post-media">
                                        <a href="{{ i.get_absolute_url }}" title="{{ i.title }}">
                                            {% if i.category.name == 'Vegan' %}
                                                <span class="detail veg">{{ i.category }}</span>
                                            {% else %}
                                                <span class="detail nonveg">{{ i.category }}</span>
                                            {% endif %}
                                            <img src="{{ i.image.url }}" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->

                                    <div class="blog-meta big-meta">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4><a href="{{ i.get_absolute_url }}" title="">{{ i.title }}</a></h4>
                                        <p>{{ i.text_present|safe|truncatewords:25 }}</p>
                                        <small>{{ i.create_at }}</small>
                                        <small>{{ i.author }}</small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end col -->

                        {% endfor %}
                    </div><!-- end row -->
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">


                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widget-title">Search</h2>
                            <form class="search-form">
                                <input type="text" class="form-control" placeholder="Search on the site">
                            </form>
                        </div><!-- end widget -->


{#                        {% include "_inc/_sidebar.html" %}#}
{#{% get_categories %}#}

                        <div class="widget">
                            <h2 class="widget-title">Recent Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/blog_square_14.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                                            <small>12 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="upload/blog_square_12.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Let's make an introduction for creative life</h5>
                                            <small>11 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="single.html"
                                       class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="upload/blog_square_11.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
                                            <small>07 Jan, 2016</small>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div><!-- end col -->
        </div><!-- end row -->
    </section><!-- end album -->

{% endblock %}