{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="section lb text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

                    <div class="row grid-style">
                        {% for i in list_posts %}
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-box" style="margin-bottom: 25px;">
                                    <div class="post-media">
                                        <a href="{{ i.get_absolute_url }}" title="{{ i.title }}">
                                            {% if i.category.name == 'Vegan' %}
                                                <span class="detail veg">{{ i.category }}</span>
                                            {% else %}
                                                <span class="detail nonveg">{{ i.category }}</span>
                                            {% endif %}
                                            <img src="{{ i.image.url }}" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->

                                    <div class="blog-meta big-meta">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <h4><a href="{{ i.get_absolute_url }}" title="">{{ i.title }}</a></h4>
                                        <p>{{ i.text_present|safe|truncatewords:25 }}</p>
                                        <small>{{ i.create_at }}</small>
                                        <small>{{ i.author }}</small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div><!-- end col -->

                        {% endfor %}
                    </div><!-- end row -->
                </div>




{% endblock %}